__pycache__/*
.vscode/*
object_detection/downloaded_models/*
datasets/*
projects/testing_fashionmnist/*
projects/testing_animals/*
projects/testing_pascalvoc/*
projects/testing_detection/*
projects/petfinder/data/*
projects/petfinder/petfinder-previous/*
projects/petfinder/training/*
deprecated/*
projects/happywhale-2022/*
projects/birdclef-2021/data/*
